$color-first:#5680e9;
$color-second: #84ceeb;
$color-third: #5ab9eb;
$color_fourth:#c1c8e4;
$color_fifth:#8860d0;
header{
    background: $color-first;
    .logo{
        font-weight: bold;
    }
    nav{
        justify-self: right;
        ul{
            list-style-type: none;
            margin: 0;
            padding:0;
            li{
                float: left;
                a{
                    padding:1.5em;
                    text-transform: uppercase;
                    font-size:.8em;
                    &:hover{
                        background: $color_fourth;
                    }
                    &:visited{
                        color:white;
                    }
                }
            }
        }
    }
}